* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
  background: #555;
}

.square {
  background: #ddd;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}
/* .card{
  background: #ddd;
  display: block;
  min-width: auto;
  min-height: auto;
  padding: 50px;
  width: 50%;
  margin: 100px auto;
  
} */
.container{
  margin: 100px auto 0;
  max-width: 470px;
}
.status{
  font-size: 20px;
  font-weight: 800;
  padding: 17px;
  color: #000;
}


@media only screen and (max-width: 525px) {
  .container{
    padding: 44px;
    margin: -57px 0px;
      width: 100%;
    display: inline-block;
    height: 100vh;
    overflow-y: hidden;
  }
}